body{
    background-color:lightblue;
    margin: auto;
    width: 50%;
    border-style: solid;
    padding: 10px;
    margin-top: 15%;
    border-radius: 25px;
    
  }

  .btn {
      font-size: 30px;
      padding: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      border-radius: 20px;
      border-radius: 15px;
      box-shadow: 0 9px #999;
  }

  .btn:active {
    background-color: aliceblue;
    box-shadow: 0 5px #999;
    transform: translateY(4px);
  }
  